*{
	margin:0px;
	padding:0px;
}

select{
	margin:10px;
	padding:20px;
	font-family: Verdana, Helvetica, Arial;
	font-size:15px;
}

input{
	margin:10px;
	padding:10px;
	font-family: Verdana, Helvetica, Arial;
	font-size:15px;
}

label{
	margin:10px;
	font-family: Verdana, Helvetica, Arial;
	font-size:15px;

}

h1{
	margin: 10px;
	color: orange;
	font-family: Verdana, Helvetica, Arial;
	font-size: 30px;
}
h2{
	margin: 20px;
	color: #088A08;
	font-family: Verdana, Helvetica, Arial;
	font-size: 20px;

}

#selectDesplegable{
	margin:10px;
	padding:20px;
	font-family: Verdana, Helvetica, Arial;
	font-size:15px;
}


#login{
	margin:50px;
	margin-right: 10px;
	width:500px;
	height:250px;
	background: #fff;
	border: 5px solid green;
	text-align: center;
	alignment-baseline: central;
}

#cabecera{
	float:left;
	width:960px;
	height:100px;
	background: #fff;

}

#menu{
	width:300px;
	height:1000px;
	background: #fff;
	clear: both;
	float: left;
	color:purple;
	margin: 10px;
	font-family: Verdana, Helvetica, Arial;
	background-color: #A9F5A9
}

#contenido{
	margin:10px;
	width:540px;
	height:1000px;
	float:left;
	background: #fff;
	border: 1px solid red;
}

#TablaPreguntas{
	margin:10px;
	width:250px;
	height: 1000px;
	float:left;
	background: #fff;
	border: 1px solid green;
}

#pie{
	width:960px;
	height:100px;
	float:left;
	background: #fff;

}

#button{
	border: 1px solid #dedede;
	border-radius: 3px;
	color: white;
	font: bold 15px HelveticaNeue, Arial;
	padding: 8px;
	margin-top: 10px;
	margin-bottom: 10px;

}

div nuevoUsuario {
	margin-top: .10px;
	margin-left: .10px;
}