*{
	margin:0px;
	padding:0px;
}

select{
	margin:10px;
	padding:20px;
	font-family: Verdana, Helvetica, Arial;
	font-size:15px;
}

input{
	margin:10px;
	padding:10px;
	font-family: Verdana, Helvetica, Arial;
	font-size:15px;
}

label{
	margin:10px;
	font-family: Verdana, Helvetica, Arial;
	font-size:15px;

}

h1{
	margin: 30px;
	color: #8e0014;
	font-family: Verdana, Helvetica, Arial;
	font-size: 30px;
}
h2{
	margin: 20px;
	color: #FF0000;
	font-family: Verdana, Helvetica, Arial;
	font-size: 20px;
}
h3{
	margin: 30px;
	color: #FF0000;
	font-family: Verdana, Helvetica, Arial;
	font-size: 20px;
}

th, td {
    padding: 15px;
}

select {
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 34px;
	background-color:#F2F2F2;
}

#contenedor{
	
}

#cabecera{
}

#menu{
	float: left;
	width: 30%;
}

#contenido{
	float: left;
	width: 70%;
}

#pie{
	clear: both;
}

#selectDesplegable{
	margin:10px;
	padding:20px;
	font-family: Verdana, Helvetica, Arial;
	font-size:15px;
}


#login{
	margin:50px;
	margin-right: 10px;
	background: #fff;
	border: 5px solid #8e0014;
	text-align: center;
}

#button{
	border: 1px solid #dedede;
	border-radius: 5px;
	color: white;
	font: bold 15px HelveticaNeue, Arial;
	padding: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#buttonOK{
	border: 1px solid #dedede;
	border-radius: 5px;
	color: white;
	background: green;
	font: bold 15px HelveticaNeue, Arial;
	padding: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#buttonMenu{
	border: 1px solid #dedede;
	border-radius: 5px;
	color: white;
	background: #E8450C;
	font: bold 20px Helvetica, Arial;
	padding: 8px;
	width: 300px;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#buttonDialogo1,#buttonDialogo2,#buttonDialogo3,#buttonDialogo4,#buttonDialogo5,#buttonDialogo6{
	border: 1px solid #dedede;
	border-radius: 5px;
	color: white;
	background: #FF8A0D;
	font: bold 20px Helvetica, Arial;
	padding: 8px;
	width: 240px;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#cuestionario{
	background: #fff;
	border: 5px solid #FF0000;
	text-align: center;
}

#buscarCuestionario{
	background: #fff;
	border: 5px solid #FF0000;
	text-align: center;
}

#tablaSecciones{
	height: 100px;
	overflow-x: hidden;
	overflow-y: hidden;
	border-radius: 8px;
}


div nuevoUsuario {
	margin-top: .10px;
	margin-left: .10px;
}